@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Indie+Flower&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --primary-bg-color: #7BAD23;
    --Section1-button-color: #E84242;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-bg-color);
    height: 100vh;
    overflow-x: hidden;
    font-family: "Faculty Glyphic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    height: 100px;
    width: 100%;
    position: relative;
}

.header-leafes {
    height: 300px;
    width: 300px;
    position: absolute;
    z-index: -30;
}

.header-leafes img {
    height: 100%;
    width: 100%
}

.header-left-leaf {
    top: -57px;
    left: -65px;
    transform: rotate(273deg);
}

.header-right-leaf {
    top: -57px;
    right: -65px;
    transform: rotate(360deg);
}


header nav {
    height: 100%;
    margin-top: 30px;
    width: 100%;
    padding-inline: 20px;
    display: flex;
    justify-content: center !important;
    gap: 200px;
}

.left-NavBar {
    height: min(50px, 45%);
    width: 40%;
    position: relative;
    justify-content: flex-end !important;

    &::before {
        content: "";
        position: absolute;
        height: 254%;
        width: 37%;
        top: -38px;
        right: -210px;
        background-color: var(--primary-bg-color);
        z-index: -18;
        border-radius: 49%;
    }

    &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(85deg, transparent, #D8E7BD);
        z-index: -19;
    }
}


.right-NavBar {
    height: min(50px, 45%);
    width: 40%;
    position: relative;
    justify-content: flex-start !important;
    padding-left: 20px;

    &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(270deg, transparent, #D8E7BD);
        z-index: -19;
    }

    &::before {
        content: "";
        display: none !important;
        opacity: 0 !important;
    }
}

.right-NavBar ul {
    justify-content: flex-start !important;
}

.left-NavBar ul {
    margin-inline-end: 60px;
    gap: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

ul li {
    list-style: none;
    font-size: 20px;
    font-weight: 18px;
    font-weight: 500;
    line-height: 17px;
}

.header-center-logo {
    position: absolute;
    z-index: -16;
    height: 60px;
    width: 159px;
    left: -183px;
}

.header-center-logo img {
    height: 100%;
    width: 100%;
}

main {
    height: auto;
    width: 100%;
}

.hero-section-1 {
    height: 80vh;
    width: 100%;
    display: flex;
    gap: 0;
}

.hero-section-1--content {
    height: 100%;
    width: 50%;
    flex-direction: column !important;
    align-items: self-start !important;
    padding-left: 200px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hero-section-1 h2 {
    font-size: 50px;
    font-style: normal;
    line-height: 1em;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 29px;
}

.hero-section-1 p {
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5em;
    color: #ffffff;
    margin-bottom: 50px;
}

button {
    height: 70px;
    width: auto;
    background-color: var(--Section1-button-color);
    text-align: center;
    border: none;
    outline: none;
    display: inline-block;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.34);
    
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    color: #fff;
    padding-inline: 35px;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 18%;
        left: -37px;
        top: 0;
        background: url(./media/button-left.png) no-repeat center / cover;
    }

    &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 18%;
        right: -36px;
        top: 0;
        background: url(./media/button-right.png) no-repeat center / cover;
    }
}

.hero-section-2--content {
    width: 50%;
    height: 100%;

}

.hero-section-1--right_content {
    height: 100%;
    width: 50%;
    padding-left: 0 !important;
    display: flex;
    justify-content: center;
}

.hero-section-1--right_content img {
    height: 100%;
    width: 60%;
    transform: rotate(-10deg);
}

.hero-section-2 {
    height: 155vh;
    width: 100%;
    background: #F6A100;
}


.hero-section-2_innerDiv {
    padding-block: 25vh;
    flex-direction: column;
    height: 100%;
    width: 90%;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        height: 33%;
        width: 32%;
        right: -0px;
        bottom: 0;
        transform: rotate(-15deg);
        background: url("./media/section2-images/pineple.png") no-repeat center/cover;
        z-index: 2;
    }
}

.hero-section-2_innerDiv--text {
    height: 33%;
    width: 70%;
    flex-direction: column;
}

h2 {
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 50px;
}

p {
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 45px;
}

.hero-section-2_grid {
    height: 500px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, minmax(30px, 1fr));
    gap: 50px;
    margin-bottom: 30px;
}

.hero-section-2_grid-child {
    height: 25rem;
    background-color: #fff;
    border-radius: 20px;
    flex-direction: column;
}

.hero-section-2_grid-child--img-container {
    height: 80%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 10px;
}

.hero-section-2_grid-child h2 {
    font-size: 20px;
    text-align: center;
    font-style: 28px;
    font-weight: 400;
    opacity: 0.8;
    font-style: normal;
}

.hero-section-3 {
    height: 120vh;
    flex-direction: column;
    background: #EE5A84;
    position: relative;
    overflow: hidden;

    &::before {
        position: absolute;
        content: "";
        height: 30%;
        width: 30%;
        top: -100px;
        left: -200px;
        transform: rotate(-25deg);
        z-index: 2;
        background: url("./media/section3-images/container-left.png") no-repeat center/cover;
        opacity: 0.2;
    }

    &::after {
        position: absolute;
        content: "";
        height: 60%;
        width: 40%;
        top: 80px;
        right: -350px;
        transform: rotate(-120deg);
        background: url("./media/section3-images/container-right.png") no-repeat center/cover;
        opacity: 0.1;
    }

}

.hero-section-3--card-container {
    height: 600px;
    width: 100%;
    margin-inline: auto;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    column-gap: 30px;
}

.hero-section-3--card-container-box1 {
    height: 70%;
    width: 20%;
    border-radius: 20px;
    background-color: #fff;
}

.hero-section-3--card-container-box2 {
    height: 80%;
    width: 20%;
    border-radius: 10px;
    background-color: #fff;
    margin-inline: 6vw;

}

.hero-section-3--card-container-box3 {
    height: 80%;
    width: 20%;
    border-radius: 10px;
    background-color: #fff;
    transform: translateY(70px);
}

.hero-section-3--card-container-box1-imgContainer {
    width: 100%;
    height: 50%;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 30px;

}

.hero-section-3--card-container-box1-imgContainer img {
    width: 100%;
    height: 100%;
}

.hero-section-3--card-container-box1--text {
    height: 50%;
    width: 100%;
    text-align: start;
    padding-inline: 30px;
}

.color {
    color: #ffffff !important;
}

.hero-section-3--card-container-box1--text h2 {
    margin-bottom: 10px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
}

.hero-section-3--card-container-box1--text p {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    margin-bottom: 10px;
}

.hero-section-4 {
    height: 100vh;
    width: 100%;
    flex-direction: column;
    row-gap: 60px;
}

.hero-section-4 h1 {
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    color: #ffffff;
}


.hero-section-4-slider-container {
    width: 80%;
    height: 290px;
    display: grid;
    grid-template-columns: repeat(4, minmax(30px, 1fr));
    column-gap: 40px;

    margin-inline: auto;
    margin-bottom: 20px;
    padding-inline-start: 100px;
}

.hero-section-4-slider-container-child-container {
    height: 90%;
    width: 200px;
    flex-direction: center;
}

.hero-section-4-slider-container-child {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #ffffff;
    margin-bottom: 10px;
}

footer {
    height: 500px;
    background: #fff;
    width: 100%;
    padding-block: 30px;
}

.footer-1--Img-holder {
    width: 25%;
    height: 100%;
}

.footer-2--descriptions {
    width: 65%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(30px, 1fr));
    gap: 20px;
}

.footer-2--descriptions h2 {
    font-size: 20px;
    font-style: normal;
    font-weight: bolder;
    line-height: 20px;
    margin-bottom: 15px;

}

.footer-2--descriptions--grid-child {
    width: 100%;
    height: 80%;
}

.footer-2--descriptions--grid-child ul {
    margin-top: 10px;
}

.footer-2--descriptions--grid-child ul li {
    list-style: none;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.footer-2--descriptions--grid-child ul li a {
    color: #27c8f9;
    text-decoration: none;
    font-size: 16px;
    opacity: 0.8;
}

.footer-2--descriptions--grid-child-2 ul li {
    color: #000000;
    opacity: 0.9;
    font-size: 17px;
}

.footer-1--Img-holder--part2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}